.about-section {
    height: 100vh;
    display: flex;

    background: 	#141414	;
}

.about-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    margin: 25px;
    
    color: white;

}

.about-contents h2 {
    color: var(--primary-color);
    font-weight: 200;
}

.about-contents hr {
    margin: 24px;
}

.about-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.slide-image__btns {
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    color: white; /* White color for arrows */
    font-size: 24px; /* Font size for arrows */
    cursor: pointer; /* Pointer cursor on hover */
    padding: 10px; /* Padding for buttons */
    margin: 20px;
}

.slide-image__btns:hover {
    color: var(--primary-color);
}