.about-section {
    height: 50vh;

}

.about-content {
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px;
    align-items: center;

}

.about-content > h2 {
    color: white;
    font-weight: 300;
}

#discover-btn {
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 64px;
    font-size: 1rem;
    font-weight: 200;
    color: black;
}