.about-section {
    height: 100vh;
    display: flex;
}

.about-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    text-align: center;
    margin: 25px;
    

}

.about-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}